body {
    background-color: black;
}
table {
    text-align: center;
    width: 20em;
    margin: auto;
    color: white;
    border-collapse: collapse;
}
td {
    border: 1px solid white;
    padding: 10px;
}